/************************
	$Font Imports
************************/

@import url('https://fonts.googleapis.com/css?family=Ubuntu:700');

@import url('https://fonts.googleapis.com/css?family=Carter+One|Ubuntu:700');

@import url('https://fonts.googleapis.com/css?family=Orbitron');

/*****************************************
                $CSS Reset
*****************************************/

/* basic elements */
body, html, section, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, th, td
{
margin: 0; padding: 0; border: 0; outline: none; box-sizing: border-box;
}

body {
line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
padding: 0;
margin: 0 0;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}

ul, ol {
list-style: none;
}

a {
color: green;
text-decoration: none;
}

a:hover {
text-decoration: none;
color: #EBB000;
}

/******************************************\
                $Main
\******************************************/

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#boxContainer {
    width: 32em;
    height: 32em;
    /*border: green dashed 1px;*/
	border-radius: 250px;
	box-shadow: .5px 1px 5px 5px #808080;
}

.colorBox {
    display: block;
    width: 16em;
    height: 16em;
    /*border: 4px solid midnightblue;*/
}

#cbGreen, #cbYellow {
    float: right;
}

/******* Colors & RoundBoxBorders ******/

#cbRed{
	background-color: #A2050A;
    /*background-color: #DC050A;*/
    border-top-left-radius: 250px;
    border-left: solid 16px;
    border-top: solid 16px;
    border-bottom: solid 16px;
	/*box-shadow: 2px -2px 0 7px gray;*/
}

#cbGreen {
	background-color: #006b08;
    /*background-color: #00A50E;*/
    border-top-right-radius: 250px;
    border-top: solid 16px;
    border-right: solid 16px;
    border-left: solid 16px;
    border-bottom: solid 16px;
	/*box-shadow: 2px -7px 0 2px gray;*/
}

#cbBlue {
	background-color: #215AAD;
    /*background-color: #0093F3;*/
    border-bottom-left-radius: 250px;
    border-left: solid 16px;
    border-bottom: solid 16px;
	/*box-shadow: 2px 7px 0 7px gray;*/
}

#cbYellow {
	background-color: #c1b400;
    /*background-color: #FDF001;*/
    border-bottom-right-radius: 250px;
    border-right: solid 16px;
    border-bottom: solid 16px;
    border-left: solid 16px;
	/*box-shadow: 7px 7px 0 7px gray;*/
}

/***************************************/

/******* Control Panel Circle *********/

#cpCircle {
    position: relative;
    top: -25.5em;
    left: 6.5em;
    height: 19em;
    width: 19em;
    border: solid 12px;
    border-radius: 150px;
    background-color: white;
}

#name {
    position: relative;
    text-align: center;
	font-family: 'Carter One', cursive;
	font-weight: bold;
    /*font-family: 'Ubuntu', sans-serif;*/
    font-size: 450%;
    margin-top: 60px;
	margin-bottom: 23px;
}

#regSymbol {
	position: relative;
	font-weight: normal;
	font-size: 25%;
	bottom: 30px;
	left: 5px;
}

#countBox {
	display: flex;
	position: relative;
	border: black solid 4px;
	border-radius: 10px;
	width: 4em;
	height: 3em;
	left: 40px;
	justify-content: center;
	align-items: center;
	font-family: 'Orbitron', sans-serif;
	background-color: #500E0D;

}

#countText {
	color: red;
	font-size: 150%;
}
/**************************************/
